[Unit]
Description=Digital Signage Client
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/digital_signage/client
ExecStart=/home/pi/digital_signage/client/venv/bin/python /home/pi/digital_signage/client/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target



