[Unit]
Description=Studio Suite Client
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/studio_suite/client
ExecStart=/home/pi/studio_suite/client/venv/bin/python /home/pi/studio_suite/client/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target




